extends ../auth.layout.pug

block content
    .welcome
      header.hdr-welcome
          button.btn Авторизоваться
      section.welcome-sec
        .greeting 
          .userContent
            .userContent__img
              img(src="./assets/images/photos/man.png", alt="photo")
            .userContent__title Виталий Григорьев
            .userContent__text Личный сайт веб разработчика
          .welcome-sec__links
            .social
              ul.social__list
                li.social__item
                a(href="https://vk.com/itrueman").social__link
                  +icon('vk', 'social__icon')
                li.social__item
                a(href="https://github.com/GrigorevVitaly").social__link
                  +icon('github', 'social__icon')
                li.social__item
                a(href="https://www.linkedin.com/in/vitaly-grigorev-2563b7164/").social__link
                  +icon('in', 'social__icon')
          nav.menu
            ul.menu__list
              li.menu__item.menu__item-rds1
                a.menu__link Мои работы 
              li.menu__item.menu__item-border 
                a(href="./about.html").menu__link Обо мне
              li.menu__item.menu__item-rds2 
                a(href="./blog.html").menu__link Блог
      footer.footer-welcome
        h2.footer-welcome__title  &copy; Виталий Григорьев | Создано с любовью в LoftSchool | 2018
              



        


      
