extends ../auth.layout.pug

block content
    .welcome      
      .welcome-parallax
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer5.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer8.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer7.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer9.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer6.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer4.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer3.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer2.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer1.png')
        .welcome-parallax__layer
          img.welcome-parallax__img(src='./assets/images/parallax/layer10.png')
      header.hdr-welcome
          button.btn Авторизоваться
      section.welcome-sec
        .greeting 
          .userContent
            .userContent__img
              img(src="./assets/images/photos/man.png", alt="photo")
            .userContent__title Виталий Григорьев
            .userContent__text Личный сайт веб разработчика
          .welcome-sec__links
            .social
              ul.social__list
                li.social__item
                a(href="https://vk.com/itrueman").social__link
                  +icon('vk', 'social__icon')
                li.social__item
                a(href="https://github.com/GrigorevVitaly").social__link
                  +icon('github', 'social__icon')
                li.social__item
                a(href="https://www.linkedin.com/in/vitaly-grigorev-2563b7164/").social__link
                  +icon('in', 'social__icon')
          nav.menu
            ul.menu__list
              li.menu__item.menu__item-rds1
                a(href="./work.html").menu__link Мои работы 
              li.menu__item.menu__item-border 
                a(href="./about.html").menu__link Обо мне
              li.menu__item.menu__item-rds2 
                a(href="./blog.html").menu__link Блог
      footer.footer-welcome
        h2.footer-welcome__title  &copy; Виталий Григорьев | Создано с любовью в LoftSchool | 2018
              



        


      
