.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    min-height: 650px;
    @include laptop {
        background: url(./assets/images/backgrounds/about-bg.png);
        @include cover;
    }
    @include tablets {
      height: auto;
      min-height: 650px;
    }
    @include phone {
      height: auto;
      min-height: 650px;
    }
    &__title {
      z-index: 1;
      position: absolute;
    }
    &__menu {
      position: absolute;
      top: 0;
      right: 0;
      padding: 26px 33px 0 0;
      @include tablets {
        padding: 26px 21px 0 0;
      }
      @include phone {
        padding: 10px 6px 0 0;
      }
    }
    &__links {
      width: 150px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 0 0 30px;
      z-index: 1;
      @include tablets {
        padding: 31px 0 0 10px;
      }
      @include phone {
        padding: 11px 0 0 0;
      }
    }
    &__down-btn {
      position: absolute;
      height: 30px;
      width: 30px;
      bottom: 165px;
      @include tablets {
        bottom: 146px;
      }
    }
    &__bg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    &__triangle {
      position: absolute;
      bottom: -6px;
      width: 100%;
    }
}
.hero-bg {
  height: 100%;
  width: 100%;
  @include laptop {
    display: none;
  }
  &__img {
    position: relative;
    max-width: 180%;
    min-width: 100%;
    top: 0;
    min-height: 115%;
    }
}
.triangle-icon {
  &__beige {
    fill: #eeebdf;
    @include tablets {
      fill: #efeee9;
    }
  }
  &__lightbeige {
    fill: #efeee9;
  }
}
.bg-pic {
  height: 100%;
  width: 100%;
  fill: #fff;
  opacity: .06;
  
}
.about-bg {
  position: absolute;
  height: 150px;
  width: 400px;
  @include phone {
    height: 88px;
    width: 278px;
  }
  &__pic {
    height: 100%;
    width: 100%;
    fill: grey;
    opacity: .07;
    margin: -146px 0 0 -90px;
  }
}
.social{
  display: flex;
  justify-content: center;
  &__item {
    padding-left: 30px;
    &:first-child {
      padding-left: 0;
    }
  }
  &__list {
    display: flex;
    @include phone {
      margin-left: -32px;
    }
  }
  &__icon--white {
    height: 22px;
    width: 30px;
    fill: #c1d5d5;
    @include phone {
      height: 20px;
      width: 20px;
    }
  &:hover {
    fill: #fff;
  }
}
}

.hamburger {
  width: 40px;
  height: 40px;
  fill: #fff;
  &__icon {
    height: 40px;
    width: 40px;
    @include phone {
      height: 23px;
    }
  }
}
.userContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    padding-top: 40px;
  }
  &__title--white {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    @include tablets {
      font-size: 35px;
      padding-top: 17px;
    }
    @include phone {
      font-size: 21px;
    }
  }
  &__text--white {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
}

.down-btn {
  &__icon {
    height: 30px;
    width: 30px;
    fill: #beced4;
  }
}
.about {
  height: 122vh;
  position: relative;
  display: flex;
  @include tablets {
    flex-direction: column;
    height: auto;
  }
  @include phone {
    height: auto;
  }
  &__left {
    width: 50%;
    background-color: #efeee9;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include tablets {
      width: 100%;
      height: auto;
    }
    @include phone {
      height: auto;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #eeebdf;
    @include tablets {
      width: 100%;
      height: auto;
    }
    @include phone {
      height: auto;
    }
  }
  &__right_description {
    width: 95%;
    text-align: center;
    padding-top: 21px;
    @include tablets {
      padding-top: 3px;
    }
  }
  &__right-content {
    padding-top: 42px;
    height: 100%;
    width: 100%;
  }
  &__right-title {
    padding-top: 35px;
    @include phone {
      padding-top: 14px;
    }
  }
}
.about__left-title {
  margin: -5px 0 0 -7px;
  @include tablets {
    margin: 32px 0 0 -7px;
  }
  @include phone {
    margin: 25px 0 0 1px;
  }
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    text-align: center;
    padding-top: 21px;
    @include tablets {
      padding-top: 54px;
    }
    @include phone {
      padding-top: 20px;
    }
  }
  &__text {
    width: 450px;
    padding-top: 24px;
    @include tablets {
      width: 471px;
      padding-top: 6px;
    }
    @include phone {
      width: 263px;
    }
  }
  &__img {
    padding-top: 39px;
    @include phone {
      padding-top: 21px;
    }
  }
  &__avatar {
    @include phone {
      height: 285px;
      width: 100%;
    }
  }
}
.block-subtitle {
  position: relative;
  font-family: 'bernier';
  font-size: 35px;
  color: #455a64;
  text-align: center;
  @include phone {
    font-size: 21px;
  }
  &:before {
    left: 135px;
  }
  &::after {
    right: 135px;
  }
}
.block-subtitle:before, .block-subtitle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #c3c4c0;
  height: 5px;
  width: 22px;
  transform: translateY(-50%);
  top: 50%;
  opacity: .7;
}
.block-subtitle--right {
  &:before {
    top: 25%;
    left: 240px;
    @include tablets {
      left: 210px;
      top: 49%;
    }
    @include phone {
      left: 150px;
    }
  }
  &:after {
    top: 25%;
    right: 240px;
    @include tablets {
      right: 210px;
      top: 49%;
    }
    @include phone {
      right: 150px;
    }
  }
}
.block-subtitle--about {
  font-family: 'bernier';
  font-size: 63px;
  color: #373e42;
  @include tablets {
    font-size: 54px;
  }
  @include phone {
    font-size: 35px;
  }
  &:before {
    left: 205px;
    @include tablets {
      left: 165px;
    }
    @include phone {
      left: 128px;
    }
  }
  &:after {
    right: 205px;
    @include tablets {
      right: 165px;
    }
    @include phone {
      right: 128px;
    }
  }
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 142vh;
  background: url(./assets/images/backgrounds/map-bg.png);
  @include cover;
  @include tablets {
    height: auto;
    min-height: 650px;
  }
  @include phone {
    height: auto;
    min-height: 650px;
  }
  &__data {
    height: 290px;
    width: 380px;
    background-color: #fcfcfc;
    border-radius: 6px;
    opacity: .9;
    margin-top: -229px;
    @include phone {
      opacity: 1;
    }
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__data {
    width: 85%;
  }
  &__title {
    padding-top: 22px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 9px 0 0 10px;
  }
  &__item {
    display: flex;
    padding-top: 17px;
  }
  &__icon {
    height: 25px;
    width: 25px;
    fill: #00bea4;
  }
  &__text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #455a64;
    padding-left: 10px;
  }
}
.block-subtitle--who {
  &:before {
    @include phone {
      left: 179px;
    }
  }
  &:after {
    @include phone {
      right: 179px;
    }
  }
}