.footer {
  display: grid;
  grid-template-areas: 
  'left-up right-up'
  'left-bot right-bot';
  background-color: #373e42;
  position: absolute;
  height: 150px;
  width: 100%;
  opacity: 0.9;
  margin-top: -150px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 75px 75px;
  @include tablets {
    height: 213px;
    margin-top: -213px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__menu {
    grid-area: left-up;
    border-bottom: 1px solid #44565b;
    @include tablets {
      border: none;
    }
  }
  &__links {
    grid-area: right-up;
    border-bottom: 1px solid #44565b;
    @include tablets {
      border: none;
      padding: 18px 0 0 10px;
    }
    @include phone {
      width: 100%;
      padding: 18px 0 10px 0;
      border-bottom: 1px solid #44565b;
    }
  }
  &__info {
    grid-area: left-bot;
    display: flex;
    align-items: center;
    @include tablets {
      width: 78%;
    }
    @include phone {
      width: 100%;
    }
  }
  &__title {
    grid-area: right-bot;
    display: flex;
    align-items: center;
  }
}
.menu-foot {
  &__list {
    display: flex;
    padding: 25px 0 0 30px;
    @include phone {
      padding: 25px 0 0 0;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
    @include tablets {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
    }
    @include phone {
      font-size: 14px;
    }
  }
  &__item {
    padding-left: 40px;
    @include phone {
      padding-left: 10px;
    }
    &:first-child {
      padding-left: 0;
    }
  }
}
.social-foot {
  width: 100%;
  height: 100%;
  &__list {
    display: flex;
    position: absolute;
    top: 20px;
    right: 30px;
    @include tablets {
      position: relative;
      top: 0;
      right: 0;
    }
    @include phone {
      justify-content: center;
    }
  }
  &__icon {
    height: 35px;
    width: 35px;
    background-color: #97a2a3;
    border: 1px solid #97a2a3;
    border-radius: 50%;
    fill: #373e42;
    &:hover {
      background-color: #373e42;
      border: 1px solid #373e42;
      fill: #fff;
    }
  }
  &__item {
    padding-left: 10px;
  }
}
.footer__info-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #a6abac;
  padding-left: 30px;
  @include tablets {
    text-align: center;
    font-size: 16px;
    padding: 35px 0 0 0;

  }
  @include phone {
    padding: 0;
    font-size: 14px;
  }
}
.footer-title-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #a6abac;
  text-align: right;
  width: 100%;
  padding-right: 30px;
  @include tablets {
    padding: 6px 0 0 0;
  }
  @include phone {
    font-size: 14px;
    text-align: center;
  }
}