.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 95% auto;
  min-height: 650px;
  position: relative;
  @include laptop {
    background: url(./assets/images/backgrounds/mountains-bg.png);
    @include cover;
  }
}
.welcome-parallax {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;
  @include laptop {
    display: none;
  }
  &__layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  &__img {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 160%;
    height: 100%;
  }
}

.hdr-welcome {
  display: flex;
  position: absolute;
  height: 70px;
  width: 100%;
  justify-content: flex-end;
  z-index: 1;
  right: 20px;
  @include phone {
    justify-content: center;
  }
}
.btn {
  height: 45px;
  width: 180px;
  background: none;
  border: 1px solid #fff;
  border-radius: 8px;
  margin:23px 20px 0 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include phone {
   margin-right: 0;
  }
  &:hover {
    color: #00bfa5;
    background: #fff;
  }
}
.welcome-sec {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greeting {
  position: relative;
  height: 394px;
  width: 380px;
  background-color: #fff;
  border-radius: 6px;
  opacity: .8;
  @include phone {
    width: 90%;
  }
}
.userContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablets {
    padding-top: 36px;
  }
  &__img {
    padding-top: 40px;
    @include tablets {
      padding-top: 0px;
    }
    @include phone {
      padding-top: 12px;
    }
  }
  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #455a64;
    text-align: center;
    @include tablets {
      padding-top: 14px;
    }
  }
  &__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
}
.welcome-sec__links {
  padding-top: 33px;
}
.social {
  display: flex;
  justify-content: center;
  &__item {
    padding-left: 30px;
    &:first-child {
      padding-left: 0;
    }
  }
  &__list {
    display: flex;
    padding-left: 25px;
  }
  &__icon {
    height: 22px;
    width: 30px;
    fill: #70d2c6;
  &:hover {
    fill:#00bfa5;
  }
}
}
.menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  &__item {
    display: inline-flex;
    width: 126.66px;
    height: 45px;
    background-color: #08af9d;
    &-rds1 {
      border-radius: 0 0 0 6px;
      width: 152px;
    }
    &-border {
      border-left: 2px solid #74cac3;
      border-right: 2px solid #74cac3;
      width: 128px;
    }
    &-rds2 {
      border-radius: 0 0 6px 0;
      width: 100px;
    }
    &:hover {
      background-color: #11948b; 
    }
  }
  &__link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 44px;
  }
}
.footer-welcome {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    &__title {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #fff;
        font-size: 16px;
    }
}
.menu__item {
  @include phone {
    width: 33.333%;
  }
}